<!DOCTYPE html>
<html lang="de">
<head>
  <link rel="stylesheet" href="/static/highscore.css">
  <meta charset="UTF-8">
  <title>Highscores</title>
  <script src="/static/js/highscoremapping.js"></script>
</head>
<body id="Body" onload="loadHighscores()">
<div class="buttonBox" id="LinkBox">
  <button class="linkButton" onclick="window.location.href = 'highscores.html';">Highscores</button>
  <button class="linkButton" onclick="window.location.href = 'memory.html';">Game</button>
  <button class="linkButton" onclick="window.location.href = 'impressum.html';">Impressum</button>
  <button class="linkButton" onclick="window.location.href = 'database.html;">Datenbank</button>
</div>
<h1>Highscores</h1>
<table class="highscoretable" id="Highscores">
  <tr>
    <th></th>
    <th>Username</th>
    <th>Punkte</th>
    <th>Züge</th>
  </tr>
  <tr>

  </tr>

</table>

</body>
</html>