<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="/static/mystyle.css">
    <meta charset="UTF-8">
    <title>Impressum</title>
    <script src="/static/js/script.js"></script>
</head>
<body id="Body" onload="loadHighscores()">
<div class="buttonBox" id="LinkBox">
    <button class="linkButton" onclick="window.location.href = 'highscores';">Highscores</button>
    <button class="linkButton" onclick="window.location.href = 'memory';">Game</button>
    <button class="linkButton" onclick="window.location.href = 'impressum';">Impressum</button>
    <button class="linkButton" onclick="window.location.href = 'database';">Datenbank</button>
</div>
<h1>Impressum</h1>
<br><br>
<table style="font-family: 'Oswald', sans-serif; background-color: transparent; border: none;">
    <tr>
        <td style="background-color: transparent; border: none;">
            <div class="container">
                <img src="/static/Quallen.jpg"; alt="Snow">
                <button onclick="window.location.href = 'https://https://discordapp.com/users/442029912455381023';" class="btn"></button>

            </div>
        </td>
        <td style="background-color: transparent; border: none;">
            DISCORD
        </td>
    </tr>
    <br>
    <tr><td style="background-color: transparent; border: none;"></td></tr>
    <tr>
        <td style="background-color: transparent; border: none;">
            <div class="container">
                <img src="/static/Seezeugs.jpg"; alt="Snow">
                <button onclick="window.location.href = 'https://github.com/Maximus10294';" class="btn"></button>

            </div>
        </td>
        <td style="background-color: transparent; border: none;">
            GITHUB
        </td>
    </tr>

</table>
</body>
</html>